<div class="consulting-data">
    <div class="container p-0">
        <h1 class="heading-border position-relative heading-xs semibold mb-4 center-border text-center">Consulting - Support Consulting</h1>
        <p class="desc-md medium mb-4 text-center">Get future-ready with our consulting services</p>
    
        <div class="img-wrapper-data d-flex gap-4">
            <div class="card-data">
                <img src="assets/consult/consult-1.png">
                <h1 class="text-md semibold">Future-Ready Business Strategy</h1>
                <p class="text-sm">Our consulting services equip your business with the tools and insights to prepare for tomorrow, ensuring you're ready to adapt to future challenges and opportunities.</p>
            </div>
            <div class="card-data">
                <img src="assets/consult/consult-2.png">
                <h1 class="text-md semibold">Industry Expertise for Transformation</h1>
                <p class="text-sm">Leverage our deep knowledge in enterprise processes, technology, and transformation to reimagine your organization and take actionable steps towards achieving your vision.</p>
            </div>
            <div class="card-data">
                <img src="assets/consult/consult-3.png">
                <h1 class="text-md semibold mb-2">Practical Solutions for Future Success</h1>
                <p class="text-sm">We’ll guide you in asking the right questions to build a business that can meet the evolving needs of both your customers and employees, regardless of what the future brings.</p>
            </div>
        </div>
    </div>
</div>




<div class="consulting-data">
    <div class="container p-0">
        <h1 class="heading-border position-relative heading-xs semibold mb-5 center-border text-center">Consulting - Engineering</h1>
        <div class="engineering-wrapper-data d-flex gap-5">
            <img src="assets/consult/consult-3.png">
            <div class="card-data w-100">
                <h1 class="text-md semibold mb-2">Practical Solutions for Future Success</h1>
                <p class="text-sm">We’ll work closely with you to help identify and ask the right questions, enabling you to develop a business strategy that is agile and forward-thinking. Our goal is to ensure your organization is well-positioned to adapt to changing market conditions, technologies, and customer expectations. By focusing on both your customers' evolving needs and the demands of your employees, we’ll help you create a resilient and sustainable business that thrives in any future landscape, no matter what challenges or opportunities lie ahead.</p>
            </div>
        </div>
    </div>
</div>



<div class="consulting-data">
    <div class="container p-0">
        <h1 class="heading-border position-relative heading-xs semibold mb-5 center-border text-center">Consulting - Cloud Services</h1>
        <div class="cloud-wrapper-data d-flex gap-5">
            <img src="assets/consult/clould.png">
            <div class="card-data w-100">
                <h1 class="text-md semibold mb-2">Delivering business outcomes with cloud solutions</h1>
                <p class="text-sm mb-4">We provide cloud expertise, deep industry knowledge and partnerships to integrate, automate, manage and deliver the outcomes that fuel your innovation and</p>
                <ul>
                    <li class="text-sm">Cloud DevOps</li>
                    <li class="text-sm">Cloud Management</li>
                    <li class="text-sm">Cloud Migration</li>
                    <li class="text-sm">Cloud Optimisation</li>
                    <li class="text-sm">Cloud Security</li>
                </ul>
            </div>
        </div>
    </div>
</div>



<div class="consulting-data">
    <div class="container p-0">
        <h1 class="heading-border position-relative heading-xs semibold mb-5 center-border text-center">Contract to Hire Staffing</h1>
        <div class="cloud-wrapper-data d-flex gap-5">
            <img src="assets/consult/hire-staffing.png">
            <div class="card-data w-100">
                <h1 class="text-md semibold mb-2">Flexible Solutions for Your Workforce Needs</h1>
                <p class="text-sm mb-2">In today’s dynamic business landscape, finding the right talent is crucial, but so is ensuring that new hires are the perfect fit for your company’s culture and long-term goals. Contract to Hire (C2H) staffing offers businesses a flexible and low-risk approach to hiring, allowing you to evaluate candidates on the job before committing to permanent employment. This model combines the best of both contract and direct hire options, providing businesses with the ability to quickly scale their workforce and make informed hiring decisions.</p>
                <p class="text-sm mb-3">Here’s how Contract to Hire works, and how it benefits both employers and employees:</p>
                <ul>
                    <li class="text-sm">Contract Staffing</li>
                    <li class="text-sm">Contract to Hire Staffing</li>
                    <li class="text-sm">Direct Hire</li>
                </ul>
            </div>
        </div>
    </div>
</div>



<div class="consulting-data">
    <div class="container p-0">
        <h1 class="heading-border position-relative heading-xs semibold mb-5 center-border text-center">Staffing - Direct Placement</h1>
        <div class="cloud-wrapper-data d-flex gap-5">
            <img src="assets/consult/staffing-direct.png">
            <div class="card-data w-100">
                <h1 class="text-md semibold mb-2">Full-time engagement professionals</h1>
                <p class="text-sm mb-3">As permanent employees, full-time engagement professionals have experience working with small and midsize businesses, Fortune 500 enterprises, and leading software and systems. They apply their knowledge and experience to produce results for you quickly. This solution allows you to:</p>
                <ul>
                    <li class="text-sm">Access a pool of contract talent that's not available in the hiring market</li>
                    <li class="text-sm">Benefit from continuity of talent when staffing open roles and critical or recurring projects</li>
                    <li class="text-sm">Reduce the risk of costly disruptions or missteps caused by turnover</li>
                </ul>
            </div>
        </div>
    </div>
</div>