<div class="consulting-data">
    <div class="container p-0">
        <h1 class="heading-border position-relative heading-xs semibold mb-4 center-border text-center">{{'consulting_support_title'|translate}}</h1>
        <p class="desc-md medium mb-4 text-center">{{'consulting_support_desc'|translate}}</p>
    
        <div class="img-wrapper-data d-flex gap-4">
            <div class="card-data">
                <img src="assets/consult/consult-1.png">
                <h1 class="text-md semibold">{{'future_ready_title'|translate}}</h1>
                <p class="text-sm">{{'future_ready_desc'|translate}}</p>
            </div>
            <div class="card-data">
                <img src="assets/consult/consult-2.png">
                <h1 class="text-md semibold">{{'industry_expertise'|translate}}</h1>
                <p class="text-sm">{{'industry_expertise_desc'|translate}}</p>
            </div>
            <div class="card-data">
                <img src="assets/consult/consult-3.png">
                <h1 class="text-md semibold mb-2">{{'practical_solution_title'|translate}}</h1>
                <p class="text-sm">{{'practical_solution_desc'|translate}}</p>
            </div>
        </div>
    </div>
</div>




<div class="consulting-data">
    <div class="container p-0">
        <h1 class="heading-border position-relative heading-xs semibold mb-5 center-border text-center">Consulting - Engineering</h1>
        <div class="engineering-wrapper-data d-flex gap-5">
            <img src="assets/consult/consult-3.png">
            <div class="card-data w-100">
                <h1 class="text-md semibold mb-2">{{'practical_solution_title'|translate}}</h1>
                <p class="text-sm mb-4">{{'consulting_engineering_desc1'|translate}}</p>
                <p class="text-sm">{{'consulting_engineering_desc2'|translate}}</p>
            </div>
        </div>
    </div>
</div>



<div class="consulting-data">
    <div class="container p-0">
        <h1 class="heading-border position-relative heading-xs semibold mb-5 center-border text-center">{{'consulting_cloud_title'|translate}}</h1>
        <div class="cloud-wrapper-data d-flex gap-5">
            <img src="assets/consult/clould.png">
            <div class="card-data w-100 mb-4">
                <h1 class="text-md semibold mb-2">{{'consulting_cloud_desc'|translate}}</h1>
                <p class="text-sm mb-4">{{'consulting_cloud_desc1'|translate}}</p>
                <p class="text-sm mb-4 semibold">{{'our_cloud_capabilities'|translate}}</p>
                <ul class="mb-4">
                    <li class="text-sm">{{'cloud_devops_title'| translate}}</li>
                    <li class="text-sm">{{'cloud_management_title'|translate}}</li>
                    <li class="text-sm">{{'cloud_migration_title'|translate}}</li>
                    <li class="text-sm">{{'cloud_optimisation_title'|translate}}</li>
                    <li class="text-sm">{{'cloud_security_title'|translate}}</li>
                </ul>
                <p class="text-sm mb-4">{{'cloud_desc'|translate}}</p>
            </div>
        </div>
    </div>
</div>



<div class="consulting-data">
    <div class="container p-0">
        <h1 class="heading-border position-relative heading-xs semibold mb-5 center-border text-center">{{'contract_to_hire_title'|translate}}</h1>
        <div class="cloud-wrapper-data d-flex gap-5">
            <img src="assets/consult/hire-staffing.png">
            <div class="card-data w-100">
                <h1 class="text-md semibold mb-2">{{'contract_to_hire_desc1'|translate}}</h1>
                <p class="text-sm mb-2" [innerHTML]="('contract_to_hire_desc2'|translate)"></p>
                <p class="text-sm mb-3 semibold">{{'why_to_choose_cth'|translate}}</p>
                <ul class="mb-4">
                    <li class="text-sm">{{'evaluate_on_job_title'|translate}}</li>
                    <li class="text-sm">{{'flexible_wf_title'|translate}}</li>
                    <li class="text-sm">{{'smart_hiring_title'|translate}}</li>
                </ul>
                <p class="text-sm mb-3 semibold">{{'our_expertise'|translate}}</p>
                <ul class="mb-4">
                    <li class="text-sm">{{'contract_staffing_title'|translate}}</li>
                    <li class="text-sm">{{'contract_to_hire_staaffing_title'|translate}}</li>
                    <li class="text-sm">{{'direct_hire_title'|translate}}</li>
                </ul>
                <p class="text-sm mb-3">{{'contract_to_hire_desc3'|translate}}</p>
            </div>
        </div>
    </div>
</div>



<div class="consulting-data">
    <div class="container p-0">
        <h1 class="heading-border position-relative heading-xs semibold mb-5 center-border text-center">{{'staffing_direct_placement_title'|translate}}</h1>
        <div class="cloud-wrapper-data d-flex gap-5">
            <img src="assets/consult/staffing-direct.png">
            <div class="card-data w-100">
                <h1 class="text-md semibold mb-2 d-none">Full-time engagement professionals</h1>
                <p class="text-sm mb-3">{{'staffing_direct_placement_desc'|translate}}</p>
                <p class="text-sm mb-3 semibold">{{'key_benefits_title'|translate}}</p>
                <ul class="mb-4">
                    <li class="text-sm">{{'staffing_direct_benefit_1'|translate}}</li>
                    <li class="text-sm">{{'staffing_direct_benefit_2'|translate}}</li>
                    <li class="text-sm">{{'staffing_direct_benefit_3'|translate}}</li>
                </ul>
                <p class="text-sm mb-3">{{'staffing_direct_placement_desc1'|translate}}</p>
            </div>
        </div>
    </div>
</div>