<div class="about-us-sec-wrapper">
  <div class="banner-about-us position-relative d-flex align-items-center justify-content-center">
    <img src="assets/about.png" class="w-100" />
    <h1 class="position-absolute">{{ 'mission_title' | translate }}</h1>
  </div>
  <div class="content-block-titles">
    <div class="container">
      <h1
        class="heading-border position-relative heading-xs center-border semibold mb-5 text-center"
      >
        {{ 'about_us_desc' | translate }}
      </h1>
      <p class="desc-md">{{ 'about_us_desc1' | translate }}</p>
      <p class="desc-md mb-4">{{ 'about_us_desc2' | translate }}</p>
      <p class="desc-md mb-4">{{ 'about_us_desc3' | translate }}</p>
      <p class="desc-md mb-4">{{ 'about_us_desc4' | translate }}</p>
      <p class="desc-md mb-4">{{ 'about_us_desc5' | translate }}</p>
    </div>
  </div>
  <div class="about-us-sec">
    <div class="container d-flex align-items-center gap-5">
      <div class="content-block">
        <h1 class="heading-border position-relative heading-xs semibold mb-4">
          {{ 'who_we_are_title' | translate }}
        </h1>
        <p class="desc-sm mb-4">{{ 'who_we_are_desc1' | translate }}</p>
        <p class="desc-sm mb-4">{{ 'who_we_are_desc2' | translate }}</p>
        <p class="desc-sm mb-4">{{ 'who_we_are_desc3' | translate }}</p>
        <button class="promates-btn btn-with-arrow">
          <span>{{ 'hire_talent' | translate }}</span>
        </button>
      </div>
      <div class="img-banner">
        <img src="assets/whoweare.png" />
      </div>
    </div>
  </div>
  <div class="about-us-sec">
    <div class="container d-flex align-items-center gap-2">
      <div class="img-banner">
        <img src="assets/consult.png" />
      </div>
      <div class="content-block w-100">
        <h1 class="heading-border position-relative heading-xs semibold mb-4">
          {{ 'transforming_vision' | translate }}
        </h1>
        <p class="desc-sm mb-4">{{ 'transforming_desc' | translate }}</p>
      </div>
    </div>
  </div>
</div>
