

@import "./../../../SCSS/media-queries";


.content-block-titles {
  padding: 100px 0;
  @include xs{
    padding: 30px;
  }
  @include sm{
    padding: 50px 0;
  }
  @include md {
    padding: 100px 0;
  }
  background: #f9f9f9;
}

.banner-about-us {
  h1 {
    position: absolute;
    top: auto;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.5px;
  }
}

.about-us-sec {
  padding: 100px 0;
  @include xs{
    padding: 30px;
  }
  @include sm{
    padding: 50px 0;
  }
  @include md {
    padding: 100px 0;
  }
  .content-block {
    width: 100%;
    margin-bottom: 30px;
    @include lg {
      width: 50%;
      margin: 0;
    }
  }
  .img-banner {
    width: 100%;
    @include lg {
      width: 50%;
    }
  }
}
