<div class="submit-resume">
    <div class="container p-0">
        <h1 class="heading-border position-relative heading-xs semibold mb-4">Submit Resume</h1>
        <div class="form-block">
            <form [formGroup]="resumeForm" (ngSubmit)="onSubmit()" [ngClass]="{'d-none':formSubmitted}">

                <div class="d-flex gap-4">
                    <div class="form-group">
                        <label for="firstName">First name<sup>*</sup></label>
                        <input type="text" class="form-control" id="firstName" formControlName="firstName"
                            placeholder="Name">
                        <div *ngIf="resumeForm.get('firstName')?.invalid && (resumeForm.get('firstName')?.touched || resumeForm.get('firstName')?.dirty)"
                            class="text-danger">
                            First name is required.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last name<sup>*</sup></label>
                        <input type="text" class="form-control" id="lastName" formControlName="lastName"
                            placeholder="Name">
                        <div *ngIf="resumeForm.get('lastName')?.invalid && (resumeForm.get('lastName')?.touched || resumeForm.get('lastName')?.dirty)"
                            class="text-danger">
                            Last name is required.
                        </div>
                    </div>
                </div>

                <div class="d-flex gap-4">
                    <div class="form-group">
                        <label for="phone">Phone<sup>*</sup></label>
                        <input type="tel" class="form-control" id="phone" formControlName="phone" placeholder="Phone">
                        <div *ngIf="resumeForm.get('phone')?.invalid && (resumeForm.get('phone')?.touched || resumeForm.get('phone')?.dirty)"
                            class="text-danger">
                            <div *ngIf="resumeForm.get('phone')?.errors?.['required']">Phone number is required.</div>
                            <div *ngIf="resumeForm.get('phone')?.errors?.['pattern']">Enter a valid 10-digit phone
                                number.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="altPhone">Alternate Phone</label>
                        <input type="tel" class="form-control" id="altPhone" formControlName="altPhone"
                            placeholder="Phone">
                        <div *ngIf="resumeForm.get('altPhone')?.invalid && (resumeForm.get('altPhone')?.touched || resumeForm.get('altPhone')?.dirty)"
                            class="text-danger">
                            <div *ngIf="resumeForm.get('altPhone')?.errors?.['pattern']">Enter a valid 10-digit phone
                                number.</div>
                        </div>
                    </div>
                </div>

                <div class="d-flex gap-4">
                    <div class="form-group">
                        <label for="primaryEmail">Primary Email<sup>*</sup></label>
                        <input type="email" class="form-control" id="primaryEmail" formControlName="primaryEmail"
                            placeholder="Email">
                        <div *ngIf="resumeForm.get('primaryEmail')?.invalid && (resumeForm.get('primaryEmail')?.touched || resumeForm.get('primaryEmail')?.dirty)"
                            class="text-danger">
                            <div *ngIf="resumeForm.get('primaryEmail')?.errors?.['required']">Primary email is required.
                            </div>
                            <div *ngIf="resumeForm.get('primaryEmail')?.errors?.['email']">Enter a valid email address.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="altEmail">Alternate Email</label>
                        <input type="email" class="form-control" id="altEmail" formControlName="altEmail"
                            placeholder="Email">
                        <div *ngIf="resumeForm.get('altEmail')?.invalid && (resumeForm.get('altEmail')?.touched || resumeForm.get('altEmail')?.dirty)"
                            class="text-danger">
                            <div *ngIf="resumeForm.get('altEmail')?.errors?.['email']">Enter a valid email address.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex gap-4 mb-3">
                    <div ngbDropdown class="d-inline-block w-100">
                        <label for="gender">Country<sup>*</sup></label>
                        <button class="form-select" id="dropdownMenu3" ngbDropdownToggle type="button">{{dropdownValues?.country?.name ? dropdownValues.country.name: 'Country'}}</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownMenu3" class="w-100">
                            <ng-container *ngFor="let country of countries">
                                <button class="dropdown-item"
                                (click)="resumeForm.patchValue({ country: country.code});;dropdownValueSelection('country',country)" type="button">{{country.name}}</button>
                            </ng-container>
                        </div>
                        <div *ngIf="resumeForm.get('country')?.invalid && (resumeForm.get('country')?.touched || resumeForm.get('country')?.dirty)"
                            class="text-danger">
                            Country is required.
                        </div>
                    </div>
                    <div ngbDropdown class="d-inline-block w-100">
                        <label for="state">State<sup>*</sup></label>
                        <button class="form-select" id="dropdownMenu1" ngbDropdownToggle type="button">{{dropdownValues?.state?.name ? dropdownValues.state.name: 'State'}}</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownMenu1" class="w-100">
                            <ng-container *ngIf="dropdownValues?.country?.states">
                                <ng-container *ngFor="let state of dropdownValues.country.states">
                                    <button class="dropdown-item"
                                    (click)="resumeForm.patchValue({ state: state.code});;dropdownValueSelection('state',state)" type="button">{{state.name}}</button>
                                </ng-container>
                            </ng-container>
                        </div>
                        <div *ngIf="resumeForm.get('state')?.invalid && (resumeForm.get('state')?.touched || resumeForm.get('state')?.dirty)"
                            class="text-danger">
                            State is required.
                        </div>
                    </div>
                </div>

              
                <div class="d-flex gap-4 mb-3">
                    <div ngbDropdown class="d-inline-block w-100">
                        <label for="gender">Gender<sup>*</sup></label>
                        <button class="form-select" id="dropdownMenu2" ngbDropdownToggle type="button">{{dropdownValues?.gender?.title ? dropdownValues.gender.title: 'Gender'}}</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownMenu2" class="w-100">
                                <ng-container *ngFor="let gender of gendersArray">
                                    <button class="dropdown-item"
                                    (click)="resumeForm.patchValue({ gender: gender.value});dropdownValueSelection('gender',gender)" type="button">{{gender.title}}</button>
                                </ng-container>
                        </div>
                        <div *ngIf="resumeForm.get('gender')?.invalid && (resumeForm.get('gender')?.touched || resumeForm.get('gender')?.dirty)"
                            class="text-danger">
                            Gender is required.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="zip">Zip<sup>*</sup></label>
                        <input type="text" class="form-control" id="zip" formControlName="zip" placeholder="Zip">
                        <div *ngIf="resumeForm.get('zip')?.invalid && (resumeForm.get('zip')?.touched || resumeForm.get('zip')?.dirty)"
                            class="text-danger">
                            Zip code is required.
                        </div>
                    </div>

                </div>

                <h1 class="text-sm medium">Media Upload</h1>
                <p class="desc-xs mb-2">Add your documents here, and you can upload up to 5 files max</p>
                <div class="media-upload mb-3">
                        <input type="file" class="form-control" id="resume" [ngClass]="{'d-none':selectedFileName}" (change)="onFileChange($event)" placeholder="Upload your resume" accept=".pdf,.doc,.docx" #fileInput>
                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" [ngClass]="{'d-none':selectedFileName}">
                            <path
                                d="M29.025 15.06C28.005 9.885 23.46 6 18 6C13.665 6 9.9 8.46 8.025 12.06C3.51 12.54 0 16.365 0 21C0 25.965 4.035 30 9 30H28.5C32.64 30 36 26.64 36 22.5C36 18.54 32.925 15.33 29.025 15.06ZM28.5 27H9C5.685 27 3 24.315 3 21C3 17.925 5.295 15.36 8.34 15.045L9.945 14.88L10.695 13.455C12.12 10.71 14.91 9 18 9C21.93 9 25.32 11.79 26.085 15.645L26.535 17.895L28.83 18.06C31.17 18.21 33 20.175 33 22.5C33 24.975 30.975 27 28.5 27ZM12 19.5H15.825V24H20.175V19.5H24L18 13.5L12 19.5Z"
                                fill="#0054CC" />
                        </svg>
                        <div class="text-sm" [ngClass]="{'d-none':selectedFileName}">Drag your file(s) or <span>browse</span></div>
                        <p class="text-xs" [ngClass]="{'d-none':selectedFileName}">Max 10 MB files are allowed. Only support .pdf, .doc, and .docx files.</p>
                    <div *ngIf="selectedFileName" class="selected-file">
                        <span>{{ selectedFileName }}</span>
                        <button type="button" class="btn btn-danger btn-sm" (click)="clearFile(fileInput);$event.stopPropagation()">Remove</button>
                    </div>
                    <div *ngIf="resumeForm.get('resume')?.invalid && (resumeForm.get('resume')?.touched || resumeForm.get('resume')?.dirty)"
                        class="text-danger">
                        Please upload a valid file. Only PDF and DOC/DOCX files are allowed.
                    </div>
                </div>                

                <p class="text-sm d-none">Only support .jpg, .png and .svg and zip files</p>
                <div class="dropdown-divider"></div>
                <label for="url" class="mb-2">GitHub URL</label>
                <div class="form-group mb-3">
                    <input type="text" class="form-control"  formControlName="githubURL" id="githubURL" name="githubURL" placeholder="Enter URL">
                    <div *ngIf="resumeForm.get('githubURL')?.invalid && (resumeForm.get('githubURL')?.touched || resumeForm.get('githubURL')?.dirty)"
                    class="text-danger">
                    Please enter a valid URL.
                    </div>
                    <button class="btn btn-primary d-none" type="button" >Upload</button>
                </div>
                <label for="url" class="mb-2">LinkedIn URL</label>
                <div class="form-group mb-3">
                    <input type="text" class="form-control"  formControlName="linkedInURL" id="linkedInURL" name="linkedInURL" placeholder="Enter linkedInURL">
                    <button class="btn btn-primary d-none" type="button" >Upload</button>
                    <div *ngIf="resumeForm.get('linkedInURL')?.invalid && (resumeForm.get('linkedInURL')?.touched || resumeForm.get('linkedInURL')?.dirty)"
                    class="text-danger">
                    Please enter a valid URL.
                    </div>
                </div>

                <label for="experience" class="mb-2">Experience</label>
                <div class="form-group mb-3">
                    <input type="text" class="form-control"  formControlName="experience" id="experience" name="experience" placeholder="Enter Experience">
                    <div *ngIf="resumeForm.get('experience')?.invalid && (resumeForm.get('experience')?.touched || resumeForm.get('experience')?.dirty)"
                    class="text-danger">
                    Please enter a experience.
                    </div>
                </div>
                <div ngbDropdown class="d-inline-block mb-3 w-100 d-none">
                    <label for="specialty">Specialty<sup>*</sup></label>
                    <button class="form-select" id="dropdownMenu4" ngbDropdownToggle type="button">Specialty</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownMenu4" class="w-100">
                        <button class="dropdown-item"
                            (click)="resumeForm.patchValue({ specialty: 'Specialty - 1' })" type="button">Specialty - 1</button>
                        <button class="dropdown-item"
                            (click)="resumeForm.patchValue({ specialty: 'Specialty - 2' })" type="button">Specialty - 2</button>
                    </div>
                    <div *ngIf="resumeForm.get('specialty')?.invalid && (resumeForm.get('specialty')?.touched || resumeForm.get('specialty')?.dirty)"
                        class="text-danger">
                        Specialty is required.
                    </div>
                </div>

                <h1 class="text-sm medium mb-2">Declaration</h1>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="workAuth" id="auth1" value="authorized"
                        formControlName="workAuth">
                    <label class="form-check-label" for="auth1">
                        I am authorized to work in the United States for any employer
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="workAuth" id="auth2" value="sponsorship"
                        formControlName="workAuth">
                    <label class="form-check-label" for="auth2">
                        I require sponsorship to work in the United States
                    </label>
                    <div *ngIf="resumeForm.get('workAuth')?.invalid && (resumeForm.get('workAuth')?.touched || resumeForm.get('workAuth')?.dirty)"
                        class="text-danger">
                        Work authorization selection is required.
                    </div>
                </div>

                <button class="promates-btn mt-4" [disabled]="resumeForm.invalid" type="submit">Submit</button>
            </form>
            <div class="d-flex gap-2 flex-column align-items-center justify-content-center" *ngIf="formSubmitted">
                <h1 class="text-ld semibold">Thanks for submitting your resume!</h1>
                <p class="text-md">We will get back to you soon.</p>
                <img src="assets/images/success-gif.gif" alt="check">
                <button class="new-job-btn flex-shrink-0 text-sm medium" type="button" (click)="formSubmitted = !formSubmitted">Submit New Resume</button>
            </div>
        </div>
    </div>
</div>