
<div class="header-wrapper">
    <div class="logo" (click)="navigateToHome()"><img src="../../assets/Promates_Logo.svg"/>
        <div >Promates</div>
    </div>
    <app-navigation></app-navigation>
    <button class="promates-btn btn-with-arrow d-none">
        <span>Join the Platform</span>
    </button>
    <button class="promates-btn ms-2" (click)="isAuthenticated ? logoutUser(): navigateToLogin()" [disabled]="logginInProgress">{{isAuthenticated ? (logginInProgress ? 'Logging out..' :'Logout') : (logginInProgress ? 'Logging in..' :'Login')}}</button>
    
</div>
