.heading-border {
  padding-bottom: 15px;
  &::before {
    content: '';
    position: absolute;
    background: linear-gradient(127deg, #954cf6 3.64%, #2a99ff 79.56%);
    left: 0;
    bottom: 0;
    width: 115px;
    height: 5px;
    border-radius: 4px;
  }
  &.center-border {
    &::before {
      margin: 0 auto;
      right: 0;
    }
  }
}

p {
  color: #2c2c2c;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.promates-btn {
  flex-shrink: 0;
  border-radius: 60px;
  background: linear-gradient(93deg, #8f51f7 15.35%, #00adef 87.08%);
  display: flex;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: 0;
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.rotate-icon {
  transition: transform 0.3s ease;
}
.rotate-icon:hover {
  transform: rotate(-45deg); /* Adjust the degree as needed */
}

.btn-with-arrow {
  position: relative;
  transition: all 0.3s ease;
  @extend .promates-btn;
  &::after {
    content: '';
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
    background-image: url('./../assets/arrow-circle-right.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0;
    transform: translate(-10px, -50%);
    transition: all 0.3s ease;
  }

  &:hover {
    padding-right: 3rem;

    &::after {
      opacity: 1;
      transform: translate(0, -50%);
    }
  }
}

.dropdown-toggle {
  &::after {
    display: none;
  }
}

.d-none {
  display: none !important;
}
