@import "././../../../../SCSS/media-queries";

.services-block {
  @include xs{
    padding: 30px;
  }
  @include sm{
    padding: 50px;
  }
  @include md {
    padding: 100px;
  }
}
.recruting-needs {
  background: #f9f9f9;
  @include xs{
    padding: 30px;
  }
  @include sm{
    padding: 50px;
  }
  @include md {
    padding: 100px;
  }
  .card-block-needs {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 60px;
    width: 100%;
    @include md {
     flex-direction: row !important;
    }
    .card-content {
      width: 100%;
      text-align: center;
      svg {
        margin: 0 auto;
        margin-bottom: 40px;
      }
      h2 {
        margin-bottom: 8px;
      }
    }
  }
}
