<div class="login-container">
    <div class="back-btn d-none">Back to Home</div>
    <div class="login-form w-100">
        <div class="login-form-data">
            <img src="assets/login/logo-mark.svg" alt="Promates Logo">
            <h1 class="text-center">Welcome back</h1>
            <p class="text-center mb-4">Welcome back! Please enter your details.</p>
            <div class="mb-3 w-100">
                <label for="exampleFormControlInput1" class="form-label text-sm medium">Email</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your email">
            </div>
            <div class="mb-3 w-100">
                <label for="exampleFormControlInput1" class="form-label text-sm medium">Password</label>
                <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Enter your password">
            </div>
            <button class="w-100 btn btn-primary btn-lg">Sign in</button>
            <p class="text-center desc-xs medium">Don't have an account? <a href="#">Sign up</a></p>
            <p class="text-center desc-xs medium">Forgot your password? <a href="#">Reset password</a></p>
        </div>
    </div>
    <div class="login-image w-100">
        <img src="assets/login/section.svg" alt="Promates Logo">
    </div>
</div>

