<div class="d-flex align-items-start gap-5 about-us-sec container">
    <div class="content-block" data-aos="flip-left" data-aos-delay="10" data-aos-duration="1000" data-aos-offset="200">
        <h1 class="heading-border position-relative heading-xs semibold mb-4">{{'expert_staffing_title'|translate}}</h1>
        <p class="desc-sm mb-4">{{'expert_staffing_desc1'|translate}}</p>
        <p class="desc-sm mb-4">{{'expert_staffing_desc2'| translate}} </p>
        <button class="promates-btn btn-with-arrow">
            <span>{{'hire_talent' | translate}}</span>
        </button>
    </div>
    <div class="img-banner" data-aos="flip-up" data-aos-delay="10" data-aos-duration="1000" data-aos-offset="200">
        <img src="assets/aboutus.png">
    </div>
</div>