<div class="companies-container">
  <div class="container p-0">
    <h1 class="heading-border position-relative heading-xs semibold mb-4">Companies</h1>
  </div>
  <div class="job-list d-flex flex-column gap-3 mt-5">
    <ng-container *ngIf="loading">
      <app-loader [isLoading]="loading"></app-loader>
    </ng-container>
    <ng-container *ngIf="!loading && companies.length === 0">
      <p class="text-sm medium text-align-center">No jobs found</p>
    </ng-container>
    <ng-container *ngIf="!loading && companies.length > 0">
      <ng-container *ngFor="let company of companies">
        <div class="job-card">
          <div class="job-card-data d-flex gap-4 align-items-start">
            <div class="job-card-details w-100">
              <h2 class="text-lg semibold mb-2">{{ company.name }}</h2>
              <p class="text-sm medium">{{ company.email }}</p>
            </div>
            <div class="job-card-location flex-shrink-0 d-flex gap-2 flex-column">
              <p class="text-sm medium mb-1">{{ company.phone }}</p>
              <p class="text-sm medium mb-1">{{ company.website }}</p>
              <p class="text-sm medium mb-1">{{ company.revenue }}</p>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
