<app-banner
  data-aos="fade-left"
  data-aos-delay="10"
  data-aos-duration="1000"
  data-aos-offset="200"
></app-banner>
<app-about-sec
  data-aos="fade-right"
  data-aos-delay="50"
  data-aos-duration="1000"
  data-aos-offset="200"
></app-about-sec>
<app-build-business-needs
  data-aos="zoom-out"
  data-aos-delay="50"
  data-aos-duration="1000"
  data-aos-offset="200"
></app-build-business-needs>
<app-transfrom-business
  data-aos="fade-up"
  data-aos-delay="50"
  data-aos-duration="1000"
  data-aos-offset="200"
></app-transfrom-business>
<app-feedback
  data-aos="flip-right"
  data-aos-delay="50"
  data-aos-duration="1000"
  data-aos-offset="200"
></app-feedback>
<app-freq-asked-que
  data-aos="flip-right"
  data-aos-delay="10"
  data-aos-duration="1000"
  data-aos-offset="200"
></app-freq-asked-que>
