<div class="login-container">
  <!-- <div class="back-btn"> <button class="btn btn-secondary" (click)="navigateTo('')">← Back to Home</button> </div> -->
  <div class="login-form w-100">
    <div class="login-form-data">
      <div class="logo">
        <img src="../../assets/Promates_Logo.svg" />
        <div>Promates</div>
      </div>
      <h1 class="text-center">Welcome back</h1>
      <p class="text-center mb-4">Welcome back! Please enter your details.</p>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="w-100">
        <div class="mb-3 w-100">
          <label for="exampleFormControlInput1" class="form-label text-sm medium"
            >Email<sup>*</sup></label
          >
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            formControlName="email"
            placeholder="Enter your email"
          />
          <div
            *ngIf="
              loginForm.get('email')?.invalid &&
              (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)
            "
            class="error-msg"
          >
            <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</div>
            <div *ngIf="loginForm.get('email')?.errors?.['email']">Enter a valid email.</div>
          </div>
        </div>
        <div class="mb-3 w-100">
          <label for="exampleFormControlInput2" class="form-label text-sm medium"
            >Password<sup>*</sup></label
          >
          <input
            type="password"
            class="form-control"
            id="exampleFormControlInput2"
            formControlName="password"
            placeholder="Enter your password"
          />
          <div
            *ngIf="
              loginForm.get('password')?.invalid &&
              (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)
            "
            class="error-msg"
          >
            <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</div>
            <div *ngIf="loginForm.get('password')?.errors?.['pattern']">
              Password must contain at least one uppercase letter, one number, and one special
              character.
            </div>
          </div>
        </div>
        <button type="submit" class="w-100 btn btn-primary btn-lg" [disabled]="loginForm.invalid || logginInProgress">
          {{ logginInProgress ? 'Logging in...' : 'Sign in' }}
        </button>
      </form>
      <button class="w-100 btn btn-primary btn-lg d-none">Sign in</button>
      <p class="text-center desc-xs medium d-none">
        Don't have an account? <a (click)="navigateTo('signup')">Sign up</a>
      </p>
      <p class="text-center desc-xs medium d-none">Forgot your password? <a href="#">Reset password</a></p>
    </div>
  </div>
  <div class="login-image w-100 d-none">
    <img src="assets/login/section.svg" alt="Promates Logo" />
  </div>
</div>
