<div class="signup-container">
    <div class="signup-form w-100">
      <div class="signup-form-data">
        <img src="" alt="Promates Logo">
        <h1 class="text-center">Create an account</h1>
        <p class="text-center mb-4">Sign up to get started!</p>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="w-100">
          <div class="mb-3 w-100">
            <label for="signupEmail" class="form-label text-sm medium">Email<sup>*</sup></label>
            <input type="email" class="form-control" id="signupEmail" formControlName="email" placeholder="Enter your email">
            <div *ngIf="signupForm.get('email')?.invalid && (signupForm.get('email')?.dirty || signupForm.get('email')?.touched)" class="error-msg">
              <div *ngIf="signupForm.get('email')?.errors?.['required']">Email is required.</div>
              <div *ngIf="signupForm.get('email')?.errors?.['email']">Enter a valid email.</div>
            </div>
          </div>
          <div class="mb-3 w-100">
            <label for="signupPassword" class="form-label text-sm medium">Password<sup>*</sup></label>
            <input type="password" class="form-control" id="signupPassword" formControlName="password" placeholder="Enter your password">
            <div *ngIf="signupForm.get('password')?.invalid && (signupForm.get('password')?.dirty || signupForm.get('password')?.touched)" class="error-msg">
              <div *ngIf="signupForm.get('password')?.errors?.['required']">Password is required.</div>
              <div *ngIf="signupForm.get('password')?.errors?.['pattern']">Password must contain at least one uppercase letter, one number, and one special character.</div>
            </div>
            <div *ngIf="signupForm.errors?.['notSame'] && (signupForm.get('confirmPassword')?.dirty || signupForm.get('confirmPassword')?.touched)" class="error-msg"> Passwords do not match. </div>
          </div>
          <div class="mb-3 w-100">
            <label for="confirmPassword" class="form-label text-sm medium">Confirm Password<sup>*</sup></label>
            <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm your password">
            <div *ngIf="signupForm.get('confirmPassword')?.invalid && (signupForm.get('confirmPassword')?.dirty || signupForm.get('confirmPassword')?.touched)" class="error-msg">
              <div *ngIf="signupForm.get('confirmPassword')?.errors?.['required']">Confirm Password is required.</div>
              <div *ngIf="signupForm.get('confirmPassword')?.errors?.['notSame']">Passwords do not match.</div>
            </div>
            <div *ngIf="signupForm.errors?.['notSame'] && (signupForm.get('confirmPassword')?.dirty || signupForm.get('confirmPassword')?.touched)" class="error-msg"> Passwords do not match. </div>
          </div>
          <button type="submit" class="w-100 btn btn-primary btn-lg" [disabled]="signupForm.invalid">Sign Up</button>
        </form>
        <p class="text-center desc-xs medium">Already have an account? <a (click)="navigateToLogin()" routerLinkActive="router-link-active" >Login</a></p>
      </div>
    </div>
  </div>
  